@model IEnumerable<GroceryItem>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Featured Products</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="Grocery Item Image">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                   <a href="@Url.Action("Details", "Home", new { id = item.Id })" class="btn btn-primary">View More</a>

                </div>
            </div>
        </div>
    }
</div>

